@font-face {
    font-family: Monserrate-Hairline-Font;
    src: url("assets/fonts/MONTSERRAT-HAIRLINE.OTF") format("opentype");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("assets/fonts/MONTSERRAT-LIGHT.OTF") format("opentype");
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("assets/fonts/MONTSERRAT-THIN_0.OTF") format("opentype");
}

body{
    margin: 0px;
    font-family: Montserrat-Light;
   
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: 25%;
    margin: 1em;
}

.nav-list{
    list-style-type: none;
    display: flex;
    margin: 1em;
}

nav button{
    font-family: Montserrat-Thin;
    color: white;
    padding: 0.3em 1.9em;
    font-size: 20px;
    margin: 0.5em;
    border: none;
    cursor: pointer;
}

.land{
    background-color: #26b899; 
    height: 800px; 
    width: 100%;
}

.sec_2{
    border-bottom: 1px solid #756e6e8a;
    color: #716558;
}

.sec_4, .sec_5, .sec_6{
    border-bottom: 1px solid #756e6e8a;
    text-align: justify;
    padding: 3em 0;
}

#sec_3{
    background-color: #f2f2f2;
    border-bottom: 1px solid #756e6e8a;
}

.box-coloumn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec_3 #box1{
    width: 250px;
    margin: 5em 3em;
    position: relative;
}

#sec_3 #box2{
    width: 250px;
    margin: 5em 3em;
    position: relative;
}

#sec_3 .top1{
    position: absolute;
    bottom: 7em;
    left: 1.2em;
    color: white;
}

#sec_3 .bottom1{
    position: absolute;
    bottom: 3em;
    font-size: 15.47px;
    padding: 0px 1em;
    text-align: left;
    color: #4d4e4e;
}

#sec_3 .top2{
    position: absolute;
    bottom: 7em;
    left: 1.2em;
    color: white;
}

#sec_3 .bottom2{
    position: absolute;
    bottom: 3em;
    font-size: 15.47px;
    padding: 0px 1em;
    text-align: left;
    color: #4d4e4e;
}

.contain{
    margin: 0 auto;
    width: 90%;
    max-width: 1500px;
}

#sec_7{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
}

#sec_7 #circle1{
    width: 300px;
    margin: 5em 3em;
    position: relative;
}

#sec_7 #circle2{
    width: 300px;
    margin: 5em 3em;
    position: relative;
}

#sec_7 .cirtxt1{
    position: absolute;
    font-size: 18.47px;
    bottom: 5.5em;
    left: 3.5em;
    color: white;
    text-align: center;
}

#sec_7 .cirtxt{
    color: #26b899;
    display: inline-block;
}

#sec_7 .cirtxt2{
    position: absolute;
    font-size: 18.47px;
    bottom: 5.6em;
    left: 4em;
    color: white;
    text-align: center;
}

#sec_8{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
    padding: 2em 0;
}

#sec_8 .cirtxt1{
    color: #945aa1; 
    text-align: center; 
    padding-top: 2em;
}

#sec_8 #cirtxt2{
    font-size: 1.2rem;
    color: #716558; 
    text-align: center;
}

#sec_9{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
    padding: 2em 0;
}

#sec_9 img{
    border-radius: 50%;
}

#sec_9 .cirtxt1{
    color: #945aa1; 
    text-align: center; 
    padding-top: 2em;
}

#sec_9 .cirtxt2 p{
    font-size: 1.2rem;
    color: #716558; 
    text-align: center;
    margin: 0 12em;
}

#myImg, #myImg2, #myImg3, #myImg4{
    cursor: pointer;
}

.form{
    padding: 1em 0;
 }

footer{
background-color: rgb(49, 54, 54);
padding: 2em;
}

footer button{
    font-family: Montserrat-Thin;
    color: white;
    background-color: #2cb7b2;
    padding: 0.3em 1.9em;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

footer .ro-2{
    padding-left: 5em;
}

footer #icons img{
    cursor: pointer;
}

@media (max-width: 767px) {

    nav button{
        margin: 0 0.5em;
    }
    .container-nav{
        flex-direction: column;
        width: 85%;
        margin: 1em;
    }
    .nav-logo{
        padding-left: 1.3em;
        width: 100%;
    }
    .nav-list{
        margin: 0;
        padding-right: 2em;
    }


    .land{
        height: 300px;
    }

    .sec_2{
        margin: 0;
        padding-bottom: 2em;
    }

    .sec_4 .row, .sec_6 .row{
        flex-direction: column-reverse;
    }

    .box-coloumn{
        flex-direction: column;
    }

    #sec_3 #box1{
        margin: 3em 0 0 0;
    }

    #sec_3 #box2{
        margin: 3em 0;
    }

    #sec_7 #circle1, #sec_7 #circle2{
        margin: 1em 0;
    }

    #sec_8 #cirtxt2{
        text-align: justify;
        margin: 0 1em;
    }
    
    #sec_9 .cirtxt2 p{
        text-align: justify;
        margin: 0 1em;
    }

    footer .row{
        flex-direction: column-reverse;
    }
    footer .ro-2{
        flex-direction: column;
        padding-left: 0;
        padding-bottom: 1em;
    }

  }